<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @user_address.ward %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_address.user %>
</p>

<p>
  <strong>String:</strong>
  <%= @user_address.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @user_address.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @user_address.string %>
</p>

<%= link_to 'Edit', edit_user_address_path(@user_address) %> |
<%= link_to 'Back', user_addresses_path %>
