<p id="notice"><%= notice %></p>

<p>
  <strong>Legislator:</strong>
  <%= @legislation_sponsor.legislator_id %>
</p>

<p>
  <strong>Legislation:</strong>
  <%= @legislation_sponsor.legislation_id %>
</p>

<%= link_to 'Edit', edit_legislation_sponsor_path(@legislation_sponsor) %> |
<%= link_to 'Back', legislation_sponsors_path %>
