<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @community_support.user %>
</p>

<p>
  <strong>Legislation:</strong>
  <%= @community_support.legislation %>
</p>

<p>
  <strong>Support:</strong>
  <%= @community_support.support %>
</p>

<p>
  <strong>Text:</strong>
  <%= @community_support.text %>
</p>

<%= link_to 'Edit', edit_community_support_path(@community_support) %> |
<%= link_to 'Back', community_supports_path %>
