<%= form_for(@community_member_vote_position) do |f| %>
  <% if @community_member_vote_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@community_member_vote_position.errors.count, "error") %> prohibited this community_member_vote_position from being saved:</h2>

      <ul>
      <% @community_member_vote_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :agree %><br>
    <%= f.check_box :agree %>
  </div>
  <div class="field">
    <%= f.label :feedback %><br>
    <%= f.text_area :feedback %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
