<h1>Listing community_member_vote_positions</h1>

<table>
  <thead>
    <tr>
      <th>Agree</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @community_member_vote_positions.each do |community_member_vote_position| %>
      <tr>
        <td><%= community_member_vote_position.agree %></td>
        <td><%= community_member_vote_position.feedback %></td>
        <td><%= link_to 'Show', community_member_vote_position %></td>
        <td><%= link_to 'Edit', edit_community_member_vote_position_path(community_member_vote_position) %></td>
        <td><%= link_to 'Destroy', community_member_vote_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community member vote position', new_community_member_vote_position_path %>
