<p id="notice"><%= notice %></p>

<p>
  <strong>Agree:</strong>
  <%= @community_member_vote_position.agree %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @community_member_vote_position.feedback %>
</p>

<%= link_to 'Edit', edit_community_member_vote_position_path(@community_member_vote_position) %> |
<%= link_to 'Back', community_member_vote_positions_path %>
