<section>
<h1 class="block-title">City of Chicago ✶ Ward <%= @user.ward_number %></h1>
<hr>
<div class="grid-items">
  <div class="grid-item grid-item-big-tall">
    <%= image_tag @user.img_url %>
    <div class="user-info">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <h5 class="address">Ward <%= @user.ward_number %> Address</h5>
      <ul>
          <li><%= @user.street_address1.titleize %></li>
          <li>Chicago, IL</li>
          <li><%= @user.zip %></li>
      </ul>
      </div>
      <p>Recently move? Update <%= link_to "your information", edit_user_path(@user) %> and connect with your new alderman.</p>


  </div>
  <div class="grid-item grid-item-big-tall grid-item-big">
    <h2>Grid Item With an Image</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
  </div>

  <div class="grid-item grid-item-big" style="clear: right;">
    <h2>Last Grid Item</h2>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </div>

    <div class="grid-item grid-item-big-tall">
        <a class="twitter-timeline" href="https://twitter.com/PolityChi/lists/chicago" data-widget-id="479470480403857408">Tweets from https://twitter.com/PolityChi/lists/chicago</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>


  <div class="grid-item">

  </div>

  <div class="grid-item grid-item-big-tall">

  </div>







</div>
</section>

<section>

</section>



























