<section>
    <p id="notice">
    <%= notice %>
    </p>
</section>

<section>
    <div class="user_profile">

        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <div>
            <%= image_tag @user.avatar.url(:thumb) %> <!-- Or just an image of something?-->
        </div>
        <div>
            <h5 class="address">Your Address in Ward <%= @user.ward_number %></h5>
                <ul>
                    <li><%= @user.street_address1 %></li>
                    <li><%= @user.street_address2 %></li>
                    <li><%= @user.zip %></li>
                </ul>
            <div>Recently move? Update <%= link_to "your information", edit_user_path(@user) %> and connect with your new alderman.</div>
        </div>
    </div>
    <div class="user_alderman">
        <h2><%= @user.ward_number %></h2>
        <div>
            <%= image_tag @user.alderman.avatar.url(:medium) %>
        </div>
        <div class="alderman_description">
            <h3>Alderman <%= @user.alderman.first_name %> <%= @user.alderman.last_name %></h3>
            <div>decide if want to embed a map or just put addresses of office up...?</div>
        </div>
        <div>
            <h2>GET IN TOUCH WITH YOUR ALDERMAN NOW</h2>
            <%= mail_to @alderman_email, "Send a Quick Message", subject: "CONSTITUENT FEEDBACK from #{current_user.name}" %>

            <!-- SET UP THE TWILIO AND TWITTER API HERE -->
            <%= button_to "Call #{@legislator.name} Now", url: "#" %>
            <%= button_to "Tweet @ALDERMANTWIITERHANDLE", url: "#" %>

        </div>
    </div>

</section>

</section>
    <div class="voice_up">
        <%= link_to "Give Your Feedback on Legislation", legislations_path %>
    </div>
    <div>
        <%= link_to "More about your Legislator", legislator_path(@legislator) %>
    </div>
    <div>
        <%= link_to "See What's Happening in Your Ward...", ward_path(@ward) %>
    </div>
</section>



<section>
    <div class="card">
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
        </div>
        <div class="card-content">
            <h1>First card Title or Author</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            <p class="card-detail">Date or details about this post</p>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
        </div>
        <div class="card-content">
            <h1>Another One</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
            <p class="card-detail">Date or details about this post</p>
        </div>
    </div>
</section>

<!-- <section>
  <p>
      <strong>First name:</strong>

  </p>

  <p>
      <strong>Last name:</strong>

  </p>

  <p>
      <strong>User address:</strong>
      <%= @user.user_address %>
  </p>



</section> -->
    <!-- <section>
    <div class="grid-items">
        <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
        <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Grid Item With an Image</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
        </a>
        <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            <h1>Another Wide Item</h1>
            <p>Lorem ipsum consectetur dolor sit amet.</p>
        </a>
        <a href="javascript:void(0)" class="grid-item grid-item-big">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Last Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
        <a href="javascript:void(0)" class="grid-item grid-item-big">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Last Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
        <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            <h1>A Grid Item</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
    </div>
</section> -->

