
<h2>Tell Us More about You?</h2>


<%= form_for :user_address, url: user_addresses_path, method: :post do |f| %>
        <%= f.fields_for :users do |ff| %>
              <div><%= ff.label :first_name %><br />
              <%= ff.text_field :first_name, autofocus: true %></div>

              <div><%= ff.label :last_name %><br />
              <%= ff.text_field :last_name %></div>
        <% end %>

        <div><h4>Home Address:</h4>

            <div><%= f.label :ward_id %><br />
              <em>Not sure which ward you're in?</em>
            <div class="modal">
              <label for="modal-1">
                <div class="btn js-btn">Find your Ward</div>
              </label>
              <input class="modal-state" id="modal-1" type="checkbox" />
              <div class="modal-window">
                <div class="modal-inner">
                  <label class="modal-close" for="modal-1"></label>
                  <iframe id="frame" width="800" height="840" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://webapps1.cityofchicago.org/ezbuy/geoWardLookup.do"></iframe>
                </div>
              </div>
            </div>
            <br />
            <%= select :user_address, :ward_id, options_for_select([['Ward 1',1],['Ward 2',2],['Ward 3',3],['Ward 4',4],['Ward 5',5],['Ward 6',6],['Ward 7',7],['Ward 8',8],['Ward 9',9],['Ward 10',10],['Ward 11',11],['Ward 12',12],['Ward 13',13],['Ward 14',14],['Ward 15',15],['Ward 16',16],['Ward 17',17],['Ward 18',18],['Ward 19',19],['Ward 20',20],['Ward 21',21],['Ward 22',22],['Ward 23',23],['Ward 24',24],['Ward 25',25],['Ward 26',26], ['Ward 27',27], ['Ward 28',28], ['Ward 29',29], ['Ward 30',30],['Ward 31',31],['Ward 32',32],['Ward 33',33],['Ward 34',34],['Ward 35',35],['Ward 36',36],['Ward 37',37],['Ward 38',38],['Ward 39',39],['Ward 40',40],['Ward 41',41],['Ward 42',42],['Ward 43',43],['Ward 44',44],['Ward 45',45],['Ward 46',46],['Ward 47',47],['Ward 48',48],['Ward 49',49],['Ward 50',50]])%>
            </div>

            <div><%= f.label :address1 %><br />
            <%= f.text_field :address1 %></div>

            <div><%= f.label :address2 %><br />
            <%= f.text_field :address2 %></div>

            <div><%= f.label :zip %><br />
            <%= f.text_field :zip %></div>
        </div>

        <div><%= f.submit "Finish Sign Up" %></div>

<% end %>
