<h2>Tell Us More about You?</h2>

<%= current_user.email %>

<%= form_for :user_address, url: user_addresses_path, method: :post do |f| %>
        <%= f.fields_for :users do |ff| %>
              <div><%= ff.label :first_name %><br />
              <%= ff.text_field :first_name, autofocus: true %></div>

              <div><%= ff.label :last_name %><br />
              <%= ff.text_field :last_name %></div>
        <% end %>

        <div><h4>Home Address:</h4>
            <div><%= f.label :address1 %><br />
            <%= f.text_field :address1 %></div>

            <div><%= f.label :address2 %><br />
            <%= f.text_field :address2 %></div>

            <div><%= f.label :zip %><br />
            <%= f.text_field :zip %></div>
        </div>

        <div><%= f.submit "Finish Sign Up" %></div>

<% end %>

<!--
  # PATCH/PUT /users/1
  # PATCH/PUT /users/1.json
  def update
    respond_to do |format|
      if @user.update(user_params)
        format.html { redirect_to @user, notice: 'User was successfully updated.' }
        format.json { render :show, status: :ok, location: @user }
      else
        format.html { render :edit }
        format.json { render json: @user.errors, status: :unprocessable_entity }
      end
    end
  end

  create_table "user_addresses", force: true do |t|
    t.integer  "ward_id"
    t.string   "address1"
    t.string   "address2"
    t.string   "zip"
    t.datetime "created_at"
    t.datetime "updated_at"
  end

  create_table "users", force: true do |t|
    t.string   "first_name"
    t.string   "last_name"
    t.integer  "user_address_id"
    t.datetime "created_at"
    t.datetime "updated_at"
    t.string   "email",                  default: "", null: false
    t.string   "encrypted_password",     default: "", null: false
    t.string   "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.integer  "sign_in_count",          default: 0,  null: false
    t.datetime "current_sign_in_at"
    t.datetime "last_sign_in_at"
    t.string   "current_sign_in_ip"
    t.string   "last_sign_in_ip"
    t.string   "avatar_file_name"
    t.string   "avatar_content_type"
    t.integer  "avatar_file_size"
    t.datetime "avatar_updated_at"
  end -->