<table>
  <thead>
    <tr>
      <th>City identifier</th>
      <th>Status</th>
      <th>Kind</th>
      <th>Opened date</th>
      <th>Closed date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% legislations.each do |legislation| %>
      <tr>
        <td><%= legislation.city_identifier %></td>
        <td><%= legislation.status %></td>
        <td><%= legislation.kind %></td>
        <td><%= legislation.opened_date %></td>
        <td><%= legislation.closed_date %></td>
        <td><%= link_to 'Show', legislation %></td>
      </tr>
    <% end %>
  </tbody>
</table>