<table>
  <thead>
    <tr>
      <!-- <th>City identifier</th> -->
      <th>Title</th>
      <th>Status</th>
      <th>Kind</th>
      <!-- <th>Opened date</th>
      <th>Closed date</th> -->
      <th>Support</th>
      <th>Oppose</th>
    </tr>
  </thead>

  <tbody>
    <% legislations.each do |legislation| %>
      <tr id=<%= legislation.id %>>
        <td><%= link_to legislation.title, "http://www.google.com/search?q=%22#{legislation.city_identifier}%22", target: "_blank" %></td>
        <!-- <td><%#= legislation.title %></td> -->
        <td><%= legislation.status %></td>
        <td><%= legislation.kind %></td>
      <!--   <td><#%= legislation.opened_date %></td>
        <td><#%= legislation.closed_date %></td> -->
        <td class="support"><%= image_tag "icons/like.svg", :style => "width: 25px", class: "voice#{legislation.id}", alt: "support"%></td>
        <td class="oppose"><%= image_tag "icons/like.svg", :style => "width: 25px", class: "voice#{legislation.id}", alt: "oppose"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
