<h1>Listing aldermen</h1>

<table>
  <thead>
    <tr>
      <th>Ward</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Party affiliation</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aldermen.each do |alderman| %>
      <tr>
        <td><%= alderman.ward %></td>
        <td><%= alderman.start_date %></td>
        <td><%= alderman.end_date %></td>
        <td><%= alderman.party_affiliation %></td>
        <td><%= alderman.user %></td>
        <td><%= link_to 'Show', alderman %></td>
        <td><%= link_to 'Edit', edit_alderman_path(alderman) %></td>
        <td><%= link_to 'Destroy', alderman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alderman', new_alderman_path %>
