<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @alderman.ward %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @alderman.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @alderman.end_date %>
</p>

<p>
  <strong>Party affiliation:</strong>
  <%= @alderman.party_affiliation %>
</p>

<p>
  <strong>User:</strong>
  <%= @alderman.user %>
</p>

<%= link_to 'Edit', edit_alderman_path(@alderman) %> |
<%= link_to 'Back', aldermen_path %>
