
<!--<p id="notice"><%= notice %></p>-->
<section class="first">

<div class="alderman-info">

  <p>
    <strong>Alderman
      <%= @legislator.alderman.name %>
    </strong>
  </p>

    <%= image_tag @legislator.alderman.img_url %>
  <p>
    <strong>Represented ward:</strong>
    <%= @legislator.represented_ward_id %>
  </p>


</div>
</section>
<section>
<div class="recently-sponsored">
  <h3>Recently Voted</h3>
  <table>
    <th>Title</th>
    <th>Type</th>
    <th><%= @legislator.alderman.last_name.capitalize %>'s Vote</th>
    <th>Your Voice</th>
    <th>Overall City Voice</th>
    <% @recently_voted.each do |issue| %>
      <tr>
        <td>
          <%= issue.title %>
        </td>

        <td>
          <%= issue.kind %>
        </td>

        <td>
          <%= @legislator.return_legislation_vote(issue.id) %>
        </td>

        <td>
          <% if current_user.legislation_voicer(issue) %>
            <%= current_user.return_legislation_voice(issue) %>
          <% else %>
            <%= link_to "Learn More Now", legislations_path %>
          <% end %>
        </td>

        <td>
          <%= issue.overall_legislation_voices(current_user) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

</section>
<section>
<div class="recently-sponsored">
  <h3>Recently Sponsored</h3>
  <table>
    <th>Title</th>
    <th>City Identifier</th>
    <th>Type</th>
    <th>Status</th>
    <% @recently_sponsored.each do |issue| %>
      <tr>
        <td>
          <%= issue.title %>
        </td>

        <td>
          <%= issue.city_identifier %>
        </td>

        <td>
          <%= issue.kind %>
        </td>

        <!-- <td>
          <%#= issue.opened_date %>
        </td> -->

        <td>
          <%= issue.status %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
</section>
