<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @legislator.ward %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @legislator.integer %>
</p>

<p>
  <strong>Date:</strong>
  <%= @legislator.date %>
</p>

<p>
  <strong>Date:</strong>
  <%= @legislator.date %>
</p>

<p>
  <strong>String:</strong>
  <%= @legislator.string %>
</p>

<%= link_to 'Edit', edit_legislator_path(@legislator) %> |
<%= link_to 'Back', legislators_path %>
