<p id="notice"><%= notice %></p>

<p>
  <strong>Alderman:</strong>
  <%= @legislator.alderman_id %>
</p>

<p>
  <strong>Represented ward:</strong>
  <%= @legislator.represented_ward_id %>
</p>

<p>
  <strong>Term start date:</strong>
  <%= @legislator.term_start_date %>
</p>

<p>
  <strong>Term end date:</strong>
  <%= @legislator.term_end_date %>
</p>

<p>
  <strong>Party affiliation:</strong>
  <%= @legislator.party_affiliation %>
</p>

<%= link_to 'Edit', edit_legislator_path(@legislator) %> |
<%= link_to 'Back', legislators_path %>
