<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfqOZUGR6ejmHezySTCVgPJdOTr1UDTUw">
</script>
<script type="text/javascript">
//     function initialize() {
//       var mapOptions = {
//         zoom: 10,
//         center: new google.maps.LatLng(41.90,-87.65)
//       };

//       var map = new google.maps.Map(document.getElementById('map-canvas'),
//           mapOptions);
//    <% @community_meetings.each do |meeting| %>
//           var map_meeting = new google.maps.LatLng(<%= meeting.latitude %>, <%= meeting.longitude %>)
// 	    function createMarker(location, content){
// 	    	new google.maps.Marker({
// 			    position: location,
// 			    map: map,
// 			    title: content
// 				});
// 					console.log("woooooo");
//           createMarker(map_meeting, "Hiiiiiii");
//       <%end%>
//   }
// 	function loadScript() {
//     var script = document.createElement('script');
//     script.type = 'text/javascript';
//     script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
//         'callback=initialize';
//     document.body.appendChild(script);
//   }

//   window.onload = loadScript;
</script>
<section>

<div>
	<h2>Ward <%= @ward.ward_number %> Community</h2>
</div>
<% if current_user.ward_number == @ward.ward_number %>
	<div>
		<%=link_to "Add A Meeting", new_community_meeting_path %>
	</div>
<% end %>
<div class="meetings">
	<h3>Community Meetings</h3>
	<table>
		<th>
			Topic
		</th>
		<th>
			Where
		</th>
		<th>
			When
		</th>
		<th>
			Meeting Leader
		</th>
		<% @community_meetings.each do |meeting| %>
			<tr>
				<td>
					<%= link_to meeting.topic, meeting%>
				</td>

				<td>
					<%= link_to meeting.address, meeting %>	
				</td>

				<td>
					<%= link_to meeting.date_at, meeting %>
				</td>

				<td>
					<%= link_to meeting.creator.name, meeting %>
				</td>
			</tr>
		<% end %>
	</table>
</div>

<div id="map-canvas" style="width: 25em; height: 25em">
	Hey guess what goes here! A map! A map goes here, man
</div>

<div class="alderman-votes">
	<h3>Ward <%= @ward.ward_number %> Alderman's Recent Votes</h3>

	<table>
		<th> Issue </th>
		<th> Alderman Vote </th>
		<th> Support </th>
		<% @legislator_votes.each do |vote| %>
			<tr>
				<td> <%= vote.legislation.title %> </td>
				<td>
					<% if vote.vote == "Y" %>
						Pass
					<% else %>
						Do Not Pass
					<% end %>
				</td>
				<td>
					<%= vote.legislation.legislation_voices.where(support: true).length %>
					<!-- vote => #LegislatorVote ->  -->
				</td>
			</tr>
		<% end %>
	</table>
</div>
</section>
