<p id="notice"><%= notice %></p>

<div>
	<h2>Ward <%= @ward.ward_number %> Community</h2>
</div>

<div class="meetings">
	<h3>Community Meetings</h3>
	<table>
		<th>
			Where
		</th>
		<th>
			When
		</th>
		<th>
			Whe
		</th>
	</table>
</div>

























<p>
  <strong>Ward number:</strong>
  <%= @ward.ward_number %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @ward.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @ward.address2 %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @ward.zip %>
</p>

<%= link_to 'Edit', edit_ward_path(@ward) %> |
<%= link_to 'Back', wards_path %>
